body{
    
}

li{
list-style-type: none; 
    
}

#juego{
    width: 96%;
    min-height: 200px;
    background-color: lightgrey;
    border: solid 3px grey;
    padding: 20px;
}


#galeria{
    display: inline;
    width: 800px;
	
}

#mapa{
    position: relative;
    display: block;
    width: 1200px;
    height: 640px;
    background-image: url("../images/canarias2.png");
    z-index: 1;
}

h2{
	margin: 0px;
}

li{
    font-size: 0;
}

#gallery { float: center; width: 96%; min-height: 12em; border: solid 3px green; background-color: white; padding: 20px;}
  .gallery.custom-state-active { background: #eee; }
  .gallery li { float: left; height: 200px;  margin: 0 0.4em 0.4em 0; text-align: center; }
  .gallery li h5 { margin: 0 0 0.4em; cursor: move; }
  .gallery li a { float: right; }
  .gallery li a.ui-icon-zoomin { float: left; }
  .gallery li img { cursor: move; z-index: 10; height: 200px;}



#mapa div:nth-child(1){ 
    position: absolute;
    float: right; 
    width: 200px; 
    height: 190px; 

    bottom: 155px;
    left: 360px;
}

#mapa div:nth-child(2){ 
    position: absolute;
    float: right;
    width: 170px; 
    height: 150px; 

    bottom: 110px;
    left: 180px;
}


#mapa div:nth-child(3){ 
    position: absolute;
    float: right;
    width: 170px; 
    height: 150px; 

    bottom: 10px;
    left: 0px;
}


#mapa div:nth-child(4){ 
    position: absolute;
    float: right;
    width: 170px; 
    height: 150px; 

    bottom: 310px;
    left: 0px;
}

#mapa div:nth-child(5){ 
    position: absolute;
    float: right;
    width: 170px; 
    height: 150px; 
 
    bottom: 115px;
    left: 580px;
}

#mapa div:nth-child(6){ 
    position: absolute;
    float: right;
    width: 170px; 
    height: 150px; 

    bottom: 420px;
    left:1000px;
}


#mapa div:nth-child(7){ 
    position: absolute;
    float: right;
    width: 170px; 
    height: 190px; 

    bottom: 205px;
    left: 935px;
}




  .isla h4 { line-height: 16px; margin: 0 0 0.4em; }
  .isla h4 .ui-icon { float: left; }
  .isla .gallery h5 { display: none; }
  .isla li{
     display: inline !important;

    
  }

  #dialog-confirm{

  }